<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriptoVisualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>CriptoVisualizer</h1>

    <!-- Form to input cryptocurrency ID -->
    <h2>Consultar Criptomoneda</h2>
    <form action="{{ url_for('home.show_cripto') }}" method="get">
        <label for="cripto_id">ID de la Criptomoneda:</label>
        <input type="text" id="cripto_id" name="cripto_id" required>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>
